@model blogger.Models.Post;

@{
    ViewData["Title"] = "DetailsPost";
}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            <table class="table table-bordered mt-3">

                <thead>

                    <tr>
                        <th colspan="9"><h1 class="text-success display-1 text-center">Post Details</h1></th>
                    </tr>
                    <tr>

                        <th colspan="9">
                            <div class="text-center">
                                <a class="btn btn-success link-light display-6 text-decoration-none align-self-center" asp-controller="Post" asp-action="CreatePost">Create New Post</a>
                            </div>
                        </th>

                    </tr>
                    <tr>
                        <th class="text-center">Title of Post</th>
                        <th class="text-center">Short Description</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Image</th>
                        <th class="text-center">Posted On</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Author Name</th>
                        <th class="text-center">Post Status</th>
                        <th class="text-center">Actions</th>
                    </tr>

                </thead>

                <tbody>

                <td class="fs-6 text-center">@Model.Title</td>
                <td class="fs-6 text-center">@Model.ShortDescription</td>
                <td class="fs-6 text-center">@Model.Description</td>
                <td class="fs-6 text-center">@Model.Image</td>
                <td class="fs-6 text-center">@Model.PostedOn</td>
                <td class="fs-6 text-center">@Model.Category.Name</td>
                <td class="fs-6 text-center">@Model.User.Name</td>
                <td class="fs-6 text-center">@Model.PostStatus.Name</td>
                <td class="fs-6 text-center"><a class="btn-sm btn-success text-decoration-none" asp-action="UpdatePost" asp-route-id="@Model.Id">Edit this Post</a></td>

                </tbody>

            </table>

        </div>
    </div>
</div>